<div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"></div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>Check out your fantastic garden</h1>
                    <p class="text-left">There's no better garden than the one which does all the work on its own.</p>
                    <p><a class="btn btn-success btn-lg" role="button" href="/thresholds">Update thresholds</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">Welcome! </h2>
        <blockquote>
            <p>Here you can find the status of your garden</p>
            <footer> </footer>
        </blockquote>
        <div class="text-center">
    <label for="automatic-mode" class="large-text">Automatic mode</label>
    <input data-style="ios" id="automatic-mode" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
</div>
        <div class="checkbox">
            <label> </label>
        </div>
    </section>
    <div class="dropdown">
        <button class="btn btn-warning btn-block dropdown-toggle thresholds" data-toggle="dropdown" aria-expanded="false" type="button">Dropdown <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="#" id="1">Tropical plants</a></li>
            <li role="presentation"><a href="#" id="2">Flowers</a></li>
            <li role="presentation"><a href="#" id="3">Cactus</a></li>
        </ul>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 align-center">
                    <h1 class="text-center">Temperature </h1>
                    <div class="sensor_value_container red">
    <strong class="sensor_value">-</strong>
</div>
                </div>
                <div class="col-md-4 align-center">
                    <h1 class="text-center">Light </h1>
                    <div class="sensor_value_container red">
    <strong class="sensor_value">-</strong>
</div>
                </div>
                <div class="col-md-4 align-center">
                    <h1 class="text-center">Soil Humidity</h1>
                    <div class="sensor_value_container red">
    <strong class="sensor_value">-</strong>
</div>
                </div>
                <div class="col-md-4 threshold">
    <p class="text-center">Upper Threshold: <span class="temp-upper-value"></span></p>
    <p class="text-center">Lower Threshold: <span class="temp-lower-value"></span></p>
</div>
                <div class="col-md-4 threshold">
                    <p class="text-center">Upper Threshold: <span class="light-upper-value"></span></p>
                    <p class="text-center">Lower Threshold: <span class="light-lower-value"></span></p>
                </div>
                <div class="col-md-4 threshold">
                    <p class="text-center">Upper Threshold: <span class="moisture-upper-value"></span></p>
                    <p class="text-center">Lower Threshold: <span class="moisture-lower-value"></span></p>
                </div>
                <div class="col-md-4 manual-on-off">
                    <button class="btn btn-success" type="button">Heat ON</button>
                </div>
                <div class="col-md-4 manual-on-off">
                    <button class="btn btn-success" type="button">Light ON</button>
                </div>
                <div class="col-md-4 manual-on-off">
                    <button class="btn btn-success" type="button">Water ON</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row"></div>
        </div>
</div>