    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/"><i class="glyphicon glyphicon-leaf"></i>Smart Garden</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"><a href="/">Dashboard </a></li>
                    <li role="presentation"><a href="/thresholds.html">Threshold Groups </a></li>
                    <li role="presentation"><a href="/settings.html">Settings </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"></div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>Check out your fantastic garden</h1>
                    <p class="text-left">There's no better garden than the one which does all the work on its own.</p>
                    <p><a class="btn btn-success btn-lg" role="button" href="/thresholds.html">Update thresholds</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">Welcome! </h2>
        <blockquote>
            <p>Here you can find the status of your garden</p>
            <footer> </footer>
        </blockquote>
        <div class="text-center">
    <label for="automatic-mode" class="large-text">Automatic mode</label>
    <input data-style="ios" id="automatic-mode" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
</div>
        <div class="checkbox">
            <label> </label>
        </div>
    </section>
    <div class="dropdown">
        <button class="btn btn-warning btn-block dropdown-toggle thresholds" data-toggle="dropdown" aria-expanded="false" type="button">Dropdown <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="#">First Item</a></li>
            <li role="presentation"><a href="#">Second Item</a></li>
            <li role="presentation"><a href="#">Third Item</a></li>
        </ul>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 align-center">
                    <h1 class="text-center">Temperature </h1>
                    <div class="sensor_value_container yellow">
    <strong class="sensor_value">24 C</strong>
</div>
                </div>
                <div class="col-md-4 align-center">
                    <h1 class="text-center">Light </h1>
                    <div class="sensor_value_container green">
    <strong class="sensor_value">788</strong>
</div>
                </div>
                <div class="col-md-4 align-center">
                    <h1 class="text-center">Soil Humidity</h1>
                    <div class="sensor_value_container red">
    <strong class="sensor_value">45</strong>
</div>
                </div>
                <div class="col-md-4">
    <p class="text-center">Upper Threshold: 26</p>
    <p class="text-center">Lower Threshold: 22</p>
</div>
                <div class="col-md-4">
                    <p class="text-center">Upper Threshold: 800</p>
                    <p class="text-center">Lower Threshold: 700</p>
                </div>
                <div class="col-md-4">
                    <p class="text-center">Upper Threshold: 80</p>
                    <p class="text-center">Lower Threshold: 50</p>
                </div>
                <div class="col-md-4 manual-on-off">
                    <button class="btn btn-success" type="button">Heat ON</button>
                </div>
                <div class="col-md-4 manual-on-off">
                    <button class="btn btn-success" type="button">Light ON</button>
                </div>
                <div class="col-md-4 manual-on-off">
                    <button class="btn btn-success" type="button">Water ON</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row"></div>
        </div>
</div>