
<h1 class="text-center header-paragraph">User management</h1>
<h1 class="text-center header-paragraph">Upgrade light sensor</h1>
<h1 class="text-center header-paragraph">Upgrade humidity sensor</h1>
<h1 class="text-center header-paragraph">Scale to support multiple sensor groups</h1>