<div class="container-fluid">
    <h1 class="text-center header-paragraph">Upcoming improvement are:</h1>

    <ul>
        <li>Login</li>
        <li>User management</li>
        <li>Upgrade light sensor</li>
        <li>Upgrade moisture sensor</li>
        <li>Scale to support multiple sensor groups</li>
    </ul>
</div>