
    <h1 class="text-center header-paragraph">Manage your threasholds groups</h1>
    <div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion-1">
        <div class="panel panel-warning">
            <div class="panel-heading" role="tab">
                <h1 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="true" href="#accordion-1 .item-1">Tropical plants</a></h1></div>
            <div class="panel-collapse collapse in item-1" role="tabpanel">
                <div class="panel-body">
                    <p class="text-center description">This group is fro plants which need more water and heat</p>
                    <form action="/threshold/update" method="post" class="threshold">
                        <fieldset>
                            <legend>Light thresholds</legend>
                            <div class="form-group">
                                <label class="control-label" for="light-upper-value">Upper Threshold</label>
                                <input class="form-control threshold-input" type="number" id="light-upper-value" style="/*display:inline-block;*/" required="">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="light-lower-value">Lower Threshold</label>
                                <input class="form-control threshold-input" type="number" id="light-lower-value" style="/*display:inline-block;*/" required="">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Temperature thresholds</legend>
                            <div class="form-group">
                                <label class="control-label" for="temp-upper-value">Upper Threshold</label>
                                <input class="form-control threshold-input" type="number" id="temp-upper-value" style="/*display:inline-block;*/" required="">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="temp-lower-value">Lower Threshold</label>
                                <input class="form-control threshold-input" type="number" id="light-lower-value" style="/*display:inline-block;*/" required="">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Soil humidity thresholds</legend>
                            <div class="form-group">
                                <label class="control-label" for="moisture-upper-value">Upper Threshold</label>
                                <input class="form-control threshold-input" type="number" id="moisture-upper-value" style="/*display:inline-block;*/" required="">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="moisture-lower-value">Lower Threshold</label>
                                <input class="form-control threshold-input" type="number" id="moisture-lower-value" style="/*display:inline-block;*/" required="">
                            </div>
                        </fieldset>
                        <button class="btn btn-success btn-lg save-threshold" type="submit">Save </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-2">Flowers </a></h4></div>
            <div class="panel-collapse collapse item-2" role="tabpanel">
                <div class="panel-body">
                    <div class="panel-body">
                        <p>This group is fro plants which need more water and heat</p>
                        <form action="/threshold/update" method="post" class="threshold">
                            <fieldset>
                                <legend>Light thresholds</legend>
                                <div class="form-group">
                                    <label class="control-label" for="light-upper-value">Upper Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="light-upper-value" style="/*display:inline-block;*/" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="light-lower-value">Lower Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="light-lower-value" style="/*display:inline-block;*/" required="">
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Temperature thresholds</legend>
                                <div class="form-group">
                                    <label class="control-label" for="temp-upper-value">Upper Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="temp-upper-value" style="/*display:inline-block;*/" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="temp-lower-value">Lower Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="light-lower-value" style="/*display:inline-block;*/" required="">
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Soil humidity thresholds</legend>
                                <div class="form-group">
                                    <label class="control-label" for="moisture-upper-value">Upper Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="moisture-upper-value" style="/*display:inline-block;*/" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="moisture-lower-value">Lower Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="moisture-lower-value" style="/*display:inline-block;*/" required="">
                                </div>
                            </fieldset>
                        </form>
                        <button class="btn btn-success" type="submit">Save </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-3">Cactus </a></h4></div>
            <div class="panel-collapse collapse item-3" role="tabpanel">
                <div class="panel-body">
                    <div class="panel-body">
                        <p>This group is fro plants which need more water and heat</p>
                        <form action="/threshold/update" method="post" class="threshold">
                            <fieldset>
                                <legend>Light thresholds</legend>
                                <div class="form-group">
                                    <label class="control-label" for="light-upper-value">Upper Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="light-upper-value" style="/*display:inline-block;*/" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="light-lower-value">Lower Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="light-lower-value" style="/*display:inline-block;*/" required="">
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Temperature thresholds</legend>
                                <div class="form-group">
                                    <label class="control-label" for="temp-upper-value">Upper Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="temp-upper-value" style="/*display:inline-block;*/" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="temp-lower-value">Lower Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="light-lower-value" style="/*display:inline-block;*/" required="">
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Soil humidity thresholds</legend>
                                <div class="form-group">
                                    <label class="control-label" for="moisture-upper-value">Upper Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="moisture-upper-value" style="/*display:inline-block;*/" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="moisture-lower-value">Lower Threshold</label>
                                    <input class="form-control threshold-input" type="number" id="moisture-lower-value" style="/*display:inline-block;*/" required="">
                                </div>
                            </fieldset>
                        </form>
                        <button class="btn btn-success" type="submit">Save </button>
                    </div>
                </div>
            </div>
        </div>
    </div>