.navbar {
  margin-bottom:0;
  border:none;
  color:#fff;
  background-color:#000;
  border-radius:0;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}

.hero {
  background:url(../img/background1.jpg) no-repeat center;
  background-size:cover;
  border:none;
}

@media (min-width:992px) {
  .hero .get-it {
    text-align:right;
    margin-top:80px;
    padding-right:30px;
    background-color:rgba(3,3,3,0.5);
  }
}

@media (max-width:992px) {
  .hero .get-it {
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview {
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p {
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn {
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup {
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device {
  width:100%;
  height:auto;
}

.iphone-mockup .screen {
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before {
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature {
  text-align:center;
}

.icon-feature .glyphicon {
  font-size:60px;
}

section.features {
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2 {
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

section.testimonials {
  margin:50px 0;
}

.site-footer {
  padding-top:30px;
  text-align:center;
  margin-top:50px;
  background-color:black;
  /*min-height:150px;*/
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}

.sensor_value_container {
  text-align:center;
  width:100%;
  height:200px;
  width:200px;
  border-radius:50%;
  color:#fff;
  margin:50px auto;
  padding-top:63px;
}

.green {
  background-color:rgb(106,193,106);
}

.sensor_value {
  font-size:50px;
  font-family:serif;
  /*padding-top:100px;*/
}

.red {
  background-color:rgb(251,65,65);
}

.yellow {
  bakground-color:yellow;
}

.yellow {
  background-color:rgb(248,224,99);
}

.thresholds {
  height:80px;
}

i.glyphicon.glyphicon-leaf {
  color:green;
}

.footer-container {
  /*background-color:#ccc;*/
}

.threshold-input {
  max-width:150px;
}

.threshold input {
  display:inline-block;
  margin-left:30px;
}

.header-paragraph {
  margin:75px auto;
}

.large-text {
  font-size:25px;
  padding:20px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios border-radius: 20px; .toggle.ios .toggle-handle border-radius: 20px; {
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius:20px;
}

.toggle.ios .toggle-handle {
  border-radius:20px;
}

.dropdown-menu {
  width:100%;
}

.dropdown-menu li {
  height:50px;
  text-align:center;
}

.panel-heading {
  height:50px;
  padding-top:15px;
}

.description {
  margin:35px 0;
}

.threshold {
  max-width:500px;
  margin:0 auto;
}

.save-threshold {
  width:100%;
  margin:30px 0;
}

.threshold fieldset {
  margin-top:30px;
}

.manual-on-off {
  text-align:center;
  margin:25px auto;
  /*width:100%;*/
}

button.btn.btn-success {
}

.manual-on-off .btn {
  min-width:200px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus color:#333333; background-color:transparent; {
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color:#f9f7f7;
  background-color:transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus color:#333333; background-color:transparent; {
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color:#fff;
  background-color:transparent;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color:#fff;
}

.upcoming {
    margin: auto;
    width: 300px;
}
